@font-face {
  font-family: "fontGame";
  src: url("font/Pony.ttf");
}
.game {
  background-image: url("asset/bgGame.png");
  height: 100%;
  width: 100%;
  position: fixed;
  font-family: fontGame;
}
.btnGame {
  width: 200px;
  height: 200px;
  font-size: 30px;
  border-radius: 16px;
  background-color: rgb(247, 181, 247);
  color: #fff;
  border-color: khaki;
  border: none;
}
